.snake {
  background: green;
}

.head {
  background: white;
}

.food {
  background-image: url('../public/apple_png.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.counter {
  color: white;
  font-size: 100px;
  position: absolute;
  bottom: 0px;
  right: 0px;
}
