* {
    padding: 0;
    margin: 0;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    background-color: black;
}

#canvas {
    width: 100vh;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('../public/grassTexture.jfif');
}

.col {
    width: calc(100vh / 20);
}

.row {
    height: calc(100vh / 20);
    display: flex;
    flex-direction: row;
}
